<% if signed_in? && current_user.admin? %>
	<%= link_to 'Edit', edit_product_path(@product) %> |
	<%= link_to 'Back', products_path %>
<% end %>

<div class="container">
	<div class="row" data-product-id="<%= @product.id %>">
		<div class="col-xs-6 col-md-6">
		<% cache @product do %>
			<%= image_tag(@product.image_url, class: "thumbnail image-zoom", data_zoom_image: "#{@product.image_url}") %>
		<% end %>
		</div>
		<div class="col-xs-6 col-md-6">
			<h4><strong><%= @product.brand %></strong> <small> / <%= @product.category %></small></h4>
			<h2><%= @product.name %></h2>
			Average Rating: <div id="average-rating" class="rated" data-score="<%= @product.average_rating %>"></div>
			$<%= @product.price %></br>
			<strong>Size:</strong><%= @product.size %></br>
			[Placeholder - ADD TO CART BUTTON]</br>
			[Placeholder - ADD TO WISHLIST BUTTON]</br>

			<%= form_tag "/payments" do %>
				<%= render partial: "shared/stripe_checkout_button" %>
				<%= hidden_field_tag(:product_id, @product.id) %>
			<% end %>
			
			<div class="detailed_info">
			<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
					<li role="presentation" ><a href="#how_to" aria-controls="how_to" role="tab" data-toggle="tab">How to</a></li>
					<li role="presentation" ><a href="#ingredients" aria-controls="ingredients" role="tab" data-toggle="tab">Ingredients</a></li>
				</ul>
				<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="description"><%= @product.description %></div>
						<div role="tabpanel" class="tab-pane" id="how_to"><%= @product.how_to %></div>
						<div role="tabpanel" class="tab-pane" id="ingredients"><%= @product.ingredients %></div>
					</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<strong><%= render "comments/new_comment" %></strong>
			<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
			<%= render "comments" %>
			<% unless @comments.empty? %>
  				<%= will_paginate @comments %>
			<% end %>
		</div>
	</div>
</div>
