<div class="container">
	<div class="row">
		<div class="col-xs-6 col-md-6">
			<%= image_tag(@product.image_url, class: "thumbnail") %>
		</div>
		<div class="col-xs-6 col-md-6">
			<h4><strong><%= @product.brand %></strong> <small> / <%= @product.category %></small></h4>
			<h2><%= @product.name %></h2>
			Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div>
			$<%= @product.price_in_cents %></br>
			<strong>Size:</strong><%= @product.size %></br>
			[Placeholder - ADD TO CART BUTTON]</br>
			[Placeholder - ADD TO WISHLIST BUTTON]</br>
			<%= form_tag "/payments/create" do %>
				<%= render partial: "shared/stripe_checkout_button" %>
			<% end %>
			<div class="detailed_info">
			<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
					<li role="presentation" ><a href="#how_to" aria-controls="how_to" role="tab" data-toggle="tab">How to</a></li>
					<li role="presentation" ><a href="#ingredients" aria-controls="ingredients" role="tab" data-toggle="tab">Ingredients</a></li>
				</ul>
				<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="description"><%= @product.description %></div>
						<div role="tabpanel" class="tab-pane" id="how_to"><%= @product.how_to %></div>
						<div role="tabpanel" class="tab-pane" id="ingredients"><%= @product.ingredients %></div>
					</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<strong><%= render "comments/new_comment" %></strong>
			<%= render "comments" %>
			<% unless @comments.empty? %>
  				<%= will_paginate @comments %>
			<% end %>
		</div>
	</div>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
