<!DOCTYPE html>
<html>
	<head>
		<title>Kosmetics</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">

	</head>

	<body>

	<!-- Nav -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">K-osmetics</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "BEST SELLER", static_pages_landing_page_path %><span class="sr-only">(current)</span></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SKIN CARE <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<%- Category.all.each do |category| %>
								<li>
									<%= link_to category.name, products_path(category: category.name)%>
								</li>
								<%- end %>
								<li role="separator" class="divider"></li>
								<li><%= link_to "All Products", products_path %></li>
						</ul>
					</li>
					<li><%= link_to "OUR BRANDS", static_pages_brands_path %></li>
					<li><%= link_to "OUR STORY", static_pages_about_path %></li>
					
					<!-- Search Form -->
						<%= form_tag("/products",method: :get, class: "navbar-form navbar-left") do -%>
						<div class="form-group">
							<%= text_field_tag(:q, nil, class: "form-control", placeholder: "Search") %>
						</div>
							<%= submit_tag("Search", class: "btn btn-default") %>
						<% end -%>

					<!-- Devise Actions -->
						<ul class="nav nav-pills pull-right" id="nav_login_btn">
						<li>
						<% if user_signed_in? %>
							<%= button_to('Logout', destroy_user_session_path, :method => :delete, class: "btn btn-sm btn-default") %>
						<% else %>
						<li><%= button_to('Sign up', new_user_registration_path, :method => :get, class: "btn btn-sm btn-default") %></li>
						<li><%= button_to('Login', new_user_session_path,:method => :get, class: "btn btn-sm btn-primary") %></li>
						<% end %>
						</li>
						</ul>
				</ul>

			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<!-- Add Alerts -->
	<%if notice %>
	<div class="alert alert-info alert-dismissible fade in" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<%= notice %>
	</div>
	<% end %>

	<%if alert %>
	<div class="alert alert-danger alert-dismissible fade in" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<%= alert %>
	</div>
	<% end %>

<!-- Begin content page -->

<div class="content">
	<%= yield %>
</div>

<!-- 	<footer class="page-footer">
		&copy; 2016 Chae
	</footer> -->

	<!-- Begin Footer Area -->
<footer class="container-fluid">
	<div class="container-fluid">
		<div class="row big-footer">
			<div class="col-md-6 col-xs-6 text-xs-center footer-col">
				<h5 class="text-muted">SUBSCRIBE TO OUR NEWSLETTER</h5>
				<form class="form-inline">
					<div class="form-group">
						<label class="sr-only" for="exampleInputEmail3">Enter Your Email Address</label>
						<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Your Email Address">
					</div>
					<button type="submit" class="btn btn-primary">Join</button>
				</form>
			</div>
			<div class="col-md-6 col-xs-6 text-xs-center">
				<h5 class="text-muted">CONNECT WITH US</h5>
				<nav class="nav nav-inline">
					<a class="nav-link fa fa-facebook-official fa-3x" href="#"></a>
					<a class="nav-link fa fa-instagram fa-3x" href="#"></a>
					<a class="nav-link fa fa-envelope fa-3x" href="#"></a>
				</nav>
			</div>
		</div>
		<div class="row small-footer">
			<div class="col-md-12 text-xs-center text-muted">
			Copyright &copy; 2016 KoreanCosmetics
			</div>
		</div>
	</div>
</footer> <!-- /footer area -->



		<!-- ============================= -->
		<!-- All your JavaScript comes now -->
		<!-- ============================= -->


		<!-- Can place script tags with JavaScript files here -->

		<%= javascript_include_tag "site.js" %>
		<%= javascript_include_tag "jquery.raty.js" %>

	</body>
</html>
