<!DOCTYPE html>
<html>
	<head>
		<title>Kosmetics</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">

	</head>

	<body data-spy="scroll" data-target="navbar-default">

	<% if notice %>
		<p id="notice" class="alert alert-info"><%= notice %></p>
	<% end %>

	<% if alert %>
		<p id="alert" class="alert alert-danger"><%= alert %></p>
	<% end %>

	<!-- Nav -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Brand</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><%= link_to "Best Seller", products_path %><span class="sr-only">(current)</span></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Skin Care <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Cleanser</a></li>
							<li><a href="#">Face Moisturizer</a></li>
							<li><a href="#">Serum</a></li>
							<li><a href="#">Face Mask</a></li>
							<li><a href="#">Sheet Mask</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</li>
					<li><%= link_to "Our Brands", static_pages_brands_path %></li>
					<li><%= link_to "About Us", static_pages_about_path %></li>
					<form class="navbar-form navbar-left">
						<%= form_tag("/products", method: "get") do %>
						<%= text_field_tag(:q, nil, class: "form-control", placeholder: "Search for:") %>
						<%= submit_tag("Search", class: "btn btn-default") %>
						<% end %>
					</form>
					<ul class="nav navbar-nav nabvar-right" id="nav_login_btn">
					<li>
					<% if user_signed_in? %>
						<%= button_to('Logout', destroy_user_session_path, :method => :delete, class: "btn btn-sm btn-default") %>
					<% else %>
						<%= button_to('Login', new_user_session_path, class: "btn btn-sm btn-primary") %>
					<% end %>
					</li>
					</ul>
				</ul>

			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<%= yield %>

	<footer class="page-footer">
		&copy; 2016 Chae
	</footer>

	</body>
</html>
